<md-content md-theme="blue">
    <md-toolbar md-scroll-shrink layout-align="center center">
            <h2 class="md-toolbar-tools">
        <span ng-bind="'VITacademics for Web'"></span></h2>
      
        </md-toolbar>
    <section layout="column" layout-sm="column" layout-align="center center" style="height:100%">

        <form style="padding: 20px;" class="space-around" name="form" role="form">
            <div class="row" ng-if="!dataLoading">
                <md-text-float  name="regno" id="regno" label="Registration Number" ng-model="user.regno"></md-text-float>
                <md-text-float name="dob" id="dob" class="disable-textfield-animation" label="Date of Birth" ng-model="user.dob" type="date"></md-text-float>
                <md-button  id="login-button" ng-click="login()" class="md-raised md-primary">Login</md-button>
            </div>

        <div layout="row">
            <h2>
            <div id="login-progress" ng-if="dataLoading">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>

        </form>
    </section>
</md-content>
